{% extends 'main.html' %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const startDate = new Date("{{ start_date }}");
        const endDate = new Date("{{ end_date }}");

        form.addEventListener("submit", function (event) {
            const dateInput = document.getElementById("date");
            const selectedDate = new Date(dateInput.value);
            
            if (selectedDate < startDate || selectedDate > endDate) {
                event.preventDefault();
                alert("Please select a date between the trip's start and end dates.");
            }
        });
    });
</script>

<ul>
    <li>
        <p>Location: {{ event.location }}</p>
        <p>Activities: {{ event.activities }}</p>
        <p>Cost: {{ event.estimated_cost }}</p>
        <p>Start Time: {{ event.start_time }}</p>
        <p>End Time: {{ event.end_time }}</p>
        <p>Date: {{ event.date }}</p>
    </li>
</ul>
<form method="POST">
    {% csrf_token %}
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required>
    <label for="activities">Activities:</label>
    <textarea id="activities" name="activities" required></textarea>
    <label for="cost">Cost:</label>
    <input type="number" id="cost" name="cost" required>
    <label for="start-time">Start Time:</label>
    <input type="time" id="start-time" name="start_time" required>
    <label for="end-time">End Time:</label>
    <input type="time" id="end-time" name="end_time" required>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <br />
    <button type="submit">Save Event</button>
</form>
{% endblock content %}
