{% extends 'main.html' %} {% block content %}
<h2>Your Trips</h2>
{% if not trips %}
<p>No Trips...<a href="{% url 'create-trip' %}">Create One?</a></p>
{% else %}
<ol>
  {% for trip in trips %}
  <li>
    <p>Name: {{ trip.trip_name }}</p>
    <p>Destination: {{ trip.destination }}</p>
    <p>Start Date: {{ trip.start_date }}</p>
    <p>End Date: {{ trip.end_date }}</p>
    {% if trip.group.leader == request.user %}
    <a href="{% url 'delete-trip' trip.id %}"><button>Delete Trip</button></a>
    {% endif %}
    {% for plan in trip.plan_set.all %}
    {% if plan.creator == request.user %}
    <a href="{% url 'edit-plan' trip.id plan.creator %}"><button>Edit Plan</button></a>
    <a href="{% url 'delete-plan' plan.id %}"><button>Delete Plan</button></a>
    {% else %}
    <a href="{% url 'add-plan' trip.id %}"><button>Add Plan</button></a>
    {% endif %}
    {% endfor %}
    {% if not trip.plan_set.all %}
    <a href="{% url 'add-plan' trip.id %}"><button>Add Plan</button></a>
    {% endif %}
    {% if trip.group.leader == request.user %}
    <a href="{% url 'select-plan' trip.id %}"><button>Select a Plan</button></a>
    {% endif %}
  </li>
  {% endfor %}
</ol>
{% endif %}
<hr />
<h2>Upcoming Events</h2>
{% if not upcoming_events %}
<p>None</p>
{% else %}
<ul>
  {% for event in upcoming_events %}
  <li>{{ event }}</li>
  {% endfor %}
</ul>
{% endif %}
<hr />
<h2>Current Day Events</h2>
{% if not current_day_events %}
<p>None</p>
{% else %}
<ul>
  {% for event in current_day_events %}
  <li>{{ event }}</li>
  {% endfor %}
</ul>
{% endif %}
<hr />
<h2>Total Amount Spent</h2>
<p>{{ total_amount }}</p>
{% endblock content %}
